<!DOCTYPE html>
<html>
    <head>
        <style>
            text {
                font-size : 15px;
                font-family : monospace;
            }
        </style>
    </head>
    <body>
        <svg id="out" width="200" height="400" viewBox="0 0 200 400" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <g id="backings">
                <rect x="0" y="0" width="200" height="120" fill="#444444" />
                <rect x="0" y="120" width="200" height="140" fill="#444444" />
            </g>
            <g id="piechart" transform="translate(10 10)"></g>
            <g id="barchart" transform="translate(10 130)"></g>
        </svg>
        <script src="../assets/js/vis.js"></script>
        <script>
            render({"a1":10,"a2":10}, [{name:"a1", count:50}, {name:"a2", count:50}]);
        </script>
    </body>
</html>